######### redis #############
REDIS_VERSION=latest

######### redis-master ######
REDIS_HOST_PORT=6379
REDIS_SENTINEL_1_HOST_PORT=26379
REDIS_DATA_DIR=./redis-master/data
REDIS_CONF_DIR=./redis-master/conf
REDIS_LOG_DIR=./redis-master/log

######### redis-slave-1 ######
REDIS_SLAVE_1_HOST_PORT=6380
REDIS_SENTINEL_2_HOST_PORT=26380
REDIS_SLAVE_1_DATA_DIR=./redis-slave-1/data
REDIS_SLAVE_1_CONF_DIR=./redis-slave-1/conf
REDIS_SLAVE_1_LOG_DIR=./redis-slave-1/log

######### redis-slave-2 ######
REDIS_SLAVE_2_HOST_PORT=6381
REDIS_SENTINEL_3_HOST_PORT=26381
REDIS_SLAVE_2_DATA_DIR=./redis-slave-2/data
REDIS_SLAVE_2_CONF_DIR=./redis-slave-2/conf
REDIS_SLAVE_2_LOG_DIR=./redis-slave-2/log

######### timezone ##########
TIMEZONE=Asia/Shanghai